fastapi
uvicorn
sqlalchemy
pymysql
jinja2
fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
pydantic
python-dotenv

python-multipart
fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
pydantic
python-dotenv
